doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block head
    body
        img(src=require("../assets/images/png/twitter.png"))
        img(src=require("../assets/images/jpeg/jpeg-one.jpeg"))
        img(src=require("../assets/images/jpeg/jpg-one.jpg"))
        img(src=require("../assets/images/gif/gif-one.gif"))
        img(src=require("../assets/images/gif/gif-two.gif"))
        div(class = "icon icon-instagram-sprite")
        div(class = "icon icon-soundcloud-sprite")
        div(class = "icon icon-facebook-sprite")
        block content